# Ignore all exe files
*.exe

# Ignore VS Code settings folder
.vscode/

# Ignore VS Code workspace files
*.code-workspace

# (Optional) Ignore build and cache files
/dist/
/build/
/out/
/node_modules/
